.menu-item {
  color: var(--secondary);
  font-family: var(--poppinsFont);
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;
  /* transition: all 1s ease-in; */
  padding: 1px 20px 10px 10px;
}
.menu-item > svg {
  size: 30;
  font-size: 30px;
}
.menu-item:hover {
  color: var(--secondary);
  /* font-size: 20px; */
  /* transition: all 1s ease-out; */
}
